<%- include('./partials/frontend/head.ejs') %>
</head>

<body>
    <div class="container" style="max-width: 450px;">
        <div class="card text-center" style="padding: 30px;">
            <p style="font-size: 80px; margin-bottom: -10px; font-weight: 600;">404</p>
            <p>Something went wrong!</p>
            <button class="btn btn-secondary align-self-center" onclick="window.history.back()" style="width: 150px; margin: 15px;"> Back </button>
        </div>
    </div>
</body>

<%- include('./partials/frontend/foot.ejs') %>
</footer>