<%- include('../partials/frontend/head.ejs') %>
<link rel="stylesheet" href="../../../css/front/styles.css">
</head>

<body>
    <div class="container">
        <div class="input-card">
            <div class="card-title">
                <h4>Unlock Code</h4>
            </div>
           
            <div class="row">
                <div class="col">
                    <div id="unlock" class="text-center"><%= unlock %></div>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include('../partials/frontend/foot.ejs') %>

</footer>