<%- include('../partials/frontend/head.ejs') %>
<link rel="stylesheet" href="../../../css/front/styles.css">
</head>

<body>
    <div class="container">
        <div class="input-card">
            <div class="card-title">
                <h4>Payment Failed</h4>
            </div>
           
            <div class="row">
                <div class="col">
                    <div class="text-center">Error: <%= message %></div>
                </div>
            </div>
            <div class="row">
                <div class="col button-bank">
                    <a href="/cancel">
                        <button class="btn btn-danger"> Cancel </button>
                    </a>
                    <a href="/pay">
                        <button class="btn btn-primary"> Try Again </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include('../partials/frontend/foot.ejs') %>

</footer>